/* ------------------------------------------------------------------------------
	Template Name: Flosix
	Author: Designstub
	Author URI: http://www.designstub.com



/* ------------------------------------------------------------------------------
	Typography
-------------------------------------------------------------------------------*/

/*@import url(http://fonts.googleapis.com/css?family=Source%20Sans%20Pro:300,400,500,600,700);*/

/* cyrillic-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/toadOcfmlt9b38dHJxOBGKhisFFF-0ifc-Simo8uwJs.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/toadOcfmlt9b38dHJxOBGNJvocFWY_5VFjYFbAOOIik.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/toadOcfmlt9b38dHJxOBGLGN1mc631ObjHzqJB_dFFA.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/toadOcfmlt9b38dHJxOBGI3P6ux3HwbL10a8ofNXGLA.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/toadOcfmlt9b38dHJxOBGD_j0nMiB9fPhg_k1wdK2h0.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/toadOcfmlt9b38dHJxOBGDRVvBvQIc1z78c__uoBcyI.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/toadOcfmlt9b38dHJxOBGOode0-EuMkY--TSyExeINg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/ODelI1aHBYDBqgeIAH2zlAC5S7WFEeHRqL6ObGQGT8o.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/ODelI1aHBYDBqgeIAH2zlMgmx_L9kV4w6g8dYQOLFUI.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/ODelI1aHBYDBqgeIAH2zlMODs9238LZG2v64UiBIjng.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/ODelI1aHBYDBqgeIAH2zlFjqPhnWKseBf12Mt9_m7kc.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/ODelI1aHBYDBqgeIAH2zlNOAHFN6BivSraYkjhveRHY.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/ODelI1aHBYDBqgeIAH2zlC2Q8seG17bfDXYR_jUsrzg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/ODelI1aHBYDBqgeIAH2zlNV_2ngZ8dMf8fLgjYEouxg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/toadOcfmlt9b38dHJxOBGAtXaCylRF0D-MaoYoCuiMM.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/toadOcfmlt9b38dHJxOBGAAAU1WVAUWBSTvimZV06U4.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/toadOcfmlt9b38dHJxOBGCJjduVyTEemf0kCvaihHEU.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/toadOcfmlt9b38dHJxOBGFnEzh12mEKZN5amaOp7-V4.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/toadOcfmlt9b38dHJxOBGClYwVOhDRq2vbpGRTZ7bbs.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/toadOcfmlt9b38dHJxOBGFKFh1TDTPrUZWzVp6FtpG8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/toadOcfmlt9b38dHJxOBGCOFnW3Jk0f09zW_Yln67Ac.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/toadOcfmlt9b38dHJxOBGH2tx1iQUBYLA4fTJZSoO3U.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/toadOcfmlt9b38dHJxOBGJaoTU19aO7Bfv-FLfOt5YM.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/toadOcfmlt9b38dHJxOBGHvBSgOUtlSCpvi6_8Wv308.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/toadOcfmlt9b38dHJxOBGO4f2SQTi4oYi3kh3bYmG2Y.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/toadOcfmlt9b38dHJxOBGDovqjS_dXPZszO_XltPdNg.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/toadOcfmlt9b38dHJxOBGFxe-GPfKKFmiXaJ_Q0GFr8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/toadOcfmlt9b38dHJxOBGEo0As1BFRXtCDhS66znb_k.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

p {
	font-size: 14px;
	line-height: 22.4px;
	color: #6c7279;
}
h1 {
	font-size: 65px;
	color: #2d3033;
}
h2 {
	font-size: 40px;
	color: #2d3033;
}
h3 {
	font-size: 28px;
	color: #2d3033;
	font-weight: 300;
}
h4 {
	font-size: 22px;
	color: #2d3033;
	font-weight: 400;
}
h5 {
	font-size: 14px;
	color: #2d3033;
	text-transform: uppercase;
	font-weight: 700;
}
.btn {
	background-color: #003a8c;
	color: #fff;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 5px;
	border: 0;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	display: inline-block;
	text-transform: uppercase;
}
.btn:hover, .btn:focus {
	background-color: #3d3d3d;
	color: #fff;
}
.btn-large {
	padding: 15px 40px;
}
/* ------------------------------------------------------------------------------
	Global Styles
-------------------------------------------------------------------------------*/
a {
	color: #e84545;
}
a:hover, a:focus {
	text-decoration: none;
	-moz-transition: background-color, color, 0.3s;
	-o-transition: background-color, color, 0.3s;
	-webkit-transition: background-color, color, 0.3s;
	transition: background-color, color, 0.3s;
}
body {
	font-family: "Source Sans Pro";
	font-weight: 400;
	color: #6c7279;
}
ul, ol {
	margin: 0;
	padding: 0;
}
ul li {
	list-style: inherit;
}
.section {
	padding: 100px 0;
}
.no-padding {
	padding: 0;
}
.no-gutter [class*=col-] {
	padding-right: 0;
	padding-left: 0;
}
.space {
	margin-top: 60px;
}
/* ------------------------------------------------------------------------------
	 Header
-------------------------------------------------------------------------------*/
#header {
	position: fixed;
	width: 100%;
	z-index: 999;
}
#header .header-content {
	margin: 0 auto;
	max-width: 1170px;
	padding: 60px 0;
	width: 100%;
	-moz-transition: padding 0.3s;
	-o-transition: padding 0.3s;
	-webkit-transition: padding 0.3s;
	transition: padding 0.3s;
}
#header .logo {
	float: left;
}
#header.fixed {
	background-color: rgba(0, 0, 0, 1);
}
#header.fixed .header-content {
	border-bottom: 0;
	padding: 25px 0;
}
#header.fixed .nav-toggle {
	top: 10px;
}
.navigation.open {
	opacity: 0.9;
	visibility: visible;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}
.navigation {
	float: right;
}
.navigation li {
	display: inline-block;
}
.navigation a {
	color: rgba(255, 255, 255, 0.75);
	font-size: 13px;
	font-weight: 400;
	margin-left: 40px;
	letter-spacing: 3px;
	text-transform: uppercase;
}
.navigation a:hover, .navigation a.active {
	color: #fff;
}
.nav-toggle {
	display: none;
	height: 44px;
	overflow: hidden;
	position: fixed;
	right: 5%;
	text-indent: 100%;
	top: 32px;
	white-space: nowrap;
	width: 44px;
	z-index: 99999;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.nav-toggle:before, .nav-toggle:after {
	border-radius: 50%;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
}
.nav-toggle:before {
	background-color: #e84545;
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.nav-toggle:after {
	background-color: #e84545;
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
	-moz-transition-duration: 0s;
	-o-transition-duration: 0s;
	-webkit-transition-duration: 0s;
	transition-duration: 0s;
}
.nav-toggle span {
	background-color: #fff;
	bottom: auto;
	display: inline-block;
	height: 3px;
	left: 50%;
	position: absolute;
	right: auto;
	top: 50%;
	width: 18px;
	z-index: 10;
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.nav-toggle span:before, .nav-toggle span:after {
	background-color: #fff;
	content: "";
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-transition: -moz-transform 0.3s;
	-o-transition: -o-transform 0.3s;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}
.nav-toggle span:before {
	-moz-transform: translateY(-6px) rotate(0deg);
	-ms-transform: translateY(-6px) rotate(0deg);
	-webkit-transform: translateY(-6px) rotate(0deg);
	transform: translateY(-6px) rotate(0deg);
}
.nav-toggle span:after {
	-moz-transform: translateY(6px) rotate(0deg);
	-ms-transform: translateY(6px) rotate(0deg);
	-webkit-transform: translateY(6px) rotate(0deg);
	transform: translateY(6px) rotate(0deg);
}
.nav-toggle.close-nav:before {
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
}
.nav-toggle.close-nav:after {
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}
.nav-toggle.close-nav span {
	background-color: rgba(255, 255, 255, 0);
}
.nav-toggle.close-nav span:before, .nav-toggle.close-nav span:after {
	background-color: #fff;
}
.nav-toggle.close-nav span:before {
	-moz-transform: translateY(0) rotate(45deg);
	-ms-transform: translateY(0) rotate(45deg);
	-webkit-transform: translateY(0) rotate(45deg);
	transform: translateY(0) rotate(45deg);
}
.nav-toggle.close-nav span:after {
	-moz-transform: translateY(0) rotate(-45deg);
	-ms-transform: translateY(0) rotate(-45deg);
	-webkit-transform: translateY(0) rotate(-45deg);
	transform: translateY(0) rotate(-45deg);
}
/* ------------------------------------------------------------------------------
	 Banner
-------------------------------------------------------------------------------*/

.banner {
	background-image: url(../zoomitout/banner.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 750px;
	background-position-y: -113px;
}
.banner-btn {
	opacity: 0.5;
}
.banner-text {
	padding-top: 33%;
}
.banner-text h1 {
	color: #fff;
	font-family: "Source Sans Pro";
	font-size: 53px;
	letter-spacing: 20px;
	font-weight: 700;
	text-transform: uppercase;
}
.banner-text p {
	color: #8d8d8d;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 3px;
	line-height: 24px;
	margin-top: 10px;
	margin-bottom: 80px;
	text-transform: uppercase;
}
/* ------------------------------------------------------------------------------
	 Intro
-------------------------------------------------------------------------------*/
.intro {
	background-color: #e9eaed;
	position: relative;
}
.intro blockquote {
	border: 0;
	margin: 0;
	padding: 100px 15% 0;
}
.intro h1 {
	color: #000;
	font: 27px "Source Sans Pro";
}
.intro p {
	color: #6c7279;
	display: block;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	margin-top: 30px;
}
/* ------------------------------------------------------------------------------
	 Services
-------------------------------------------------------------------------------*/
.service-section {
	padding-top: 100px;
}
.services {
	margin-bottom: 50px;
}
.services-content {
	padding: 0 15px;
	margin-top: 30px;
}
.services .icon {
	color: #e84545;
	font-size: 36px;
	padding-left: 15px;
}
/* ------------------------------------------------------------------------------
	 Works
-------------------------------------------------------------------------------*/
.work {
	-moz-box-shadow: 0 0 0 1px #fff;
	-webkit-box-shadow: 0 0 0 1px #fff;
	box-shadow: 0 0 0 1px #fff;
	overflow: hidden;
	position: relative;
}
.work img {
	width: 100%;
}
.work .overlay {
	background: rgba(232, 69, 69, 0.9);
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
	-moz-transition: opacity, 0.3s;
	-o-transition: opacity, 0.3s;
	-webkit-transition: opacity, 0.3s;
	transition: opacity, 0.3s;
}
.work .overlay-caption {
	position: absolute;
	text-align: center;
	top: 50%;
	width: 100%;
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.work h5, .work p, .work img {
	-moz-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	-webkit-transition: all, 0.5s;
	transition: all, 0.5s;
}
.work h5, .work p {
	color: #fff;
	margin: 0;
	opacity: 0;
}
.work span {
	font-size: 45px;
}
.work h5 {
	margin-bottom: 5px;
	-moz-transform: translate3d(0, -200%, 0);
	-ms-transform: translate3d(0, -200%, 0);
	-webkit-transform: translate3d(0, -200%, 0);
	transform: translate3d(0, -200%, 0);
}
.work p {
	-moz-transform: translate3d(0, 200%, 0);
	-ms-transform: translate3d(0, 200%, 0);
	-webkit-transform: translate3d(0, 200%, 0);
	transform: translate3d(0, 200%, 0);
}
.work-box:hover img {
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}
.work-box:hover .overlay {
	opacity: 1;
}
.work-box:hover .overlay h5, .work-box:hover .overlay p {
	opacity: 1;
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
/* ------------------------------------------------------------------------------
	 Teams
-------------------------------------------------------------------------------*/
.person {
	max-width: 270px;
	text-align: center;
}
.person-content {
	margin-top: 20px;
}
.person h4 {
	font-weight: 400;
}
.person h5 {
	color: #e84545;
	font-size: 13px;
	font-weight: 400;
	margin-bottom: 20px;
}
.social-icons, .footer .footer-share {
	margin-top: 30px;
}
.social-icons li, .footer .footer-share li {
	display: inline-block;
	float: none;
}
.social-icons a, .footer .footer-share a {
	border: 1px solid #e8ecee;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	color: #c6cacc;
	display: block;
	font-size: 14px;
	height: 32px;
	line-height: 32px;
	margin-right: 5px;
	text-align: center;
	width: 32px;
}
.social-icons a:hover, .footer .footer-share a:hover {
	background-color: #e84545;
	border-color: #e84545;
	color: #fff;
}
/* ------------------------------------------------------------------------------
	 Testimonials
-------------------------------------------------------------------------------*/
.testimonials {
	background-color: #e84545;
	position: relative;
	text-align: center;
}
.testimonials blockquote {
	border: 0;
	margin: 0;
	padding: 100px 15%;
}
.testimonials h1 {
	color: #fff;
	font: 23px "Source Sans Pro";
	font-weight: 300;
}
.testimonials p {
	color: #fff;
	display: block;
	font-size: 13px;
	font-style: normal;
	letter-spacing: 2px;
	font-weight: 400;
	margin-top: 30px;
	text-transform: uppercase;
}
/* ------------------------------------------------------------------------------
	Quote
-------------------------------------------------------------------------------*/
.quote h3 {
	margin-top: 0;
}
.quote p {
	color: #2d3033;
	font-weight: 600;
	text-transform: uppercase;
}
.quote .btn {
	margin-top: 30px;
}
/* ------------------------------------------------------------------------------
	 Footer
-------------------------------------------------------------------------------*/
.footer {
	text-align: left;
}
.footer-top {
	background-color: #181818;
	padding-top: 50px;
}
.footer-bottom {
	background-color: #313454;
	padding: 20px 0;
}
.footer .footer-col {
	margin-bottom: 80px;
}
.footer h5 {
	color: #fff;
}
.footer h5 {
	margin-bottom: 20px;
}
.footer p {
	color: rgba(255, 255, 255, 0.25);
}
.footer a {
	color: rgba(255, 255, 255, 0.50);
}
.footer a:hover {
	color: #e84545;
}
.footer .footer-share {
	margin-top: 0;
}
.footer .footer-share li {
	display: inline-block;
	float: none;
}
.footer .footer-share a {
	border: none;
	font-size: 21px;
	color: rgba(255, 255, 255, 0.25);
}
.footer .fa-heart {
	color: #e84545;
	font-size: 11px;
	margin: 0 2px;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
@media screen and (max-width:992px){
    .banner-text .large-banner-text {
        font-weight: 500;
        font-size: 3rem;
    }
    .banner-text p{
        margin-bottom: 10px;
    }
    .banner-text .small-banner-text{
        margin-bottom: 1rem ;
        font-size: 1.8rem ;
    }
    .plan_heading > * {
        font-size: 19px;
    }
}
@media screen and (max-width: 768px){
    .banner-text {
        padding-top: 12% ;
        padding-bottom: 11%;
    }
    .banner-text .small-banner-text {
        font-size: 1.4rem;
        margin-top: 4px;
    }
    .plan_heading > * {
        font-size: 14px;
    }
    .plan_content > * {
        font-size: 10px;
        font-weight: 100;
    }
}
@media screen and (max-width: 600px){
    .banner-text .small-banner-text {
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 500px){
    #better h2 {
        font-size: 2.5rem;
    }
    .banner-text .small-banner-text {
        font-size: 1.3rem ;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }
    .banner-text .large-banner-text {
        font-size: 1.6rem;
        font-weight: 100;
        letter-spacing: 0px;
    }
    .btn-large {
        padding: 6px 20px;
    }
    .container{
        padding:0px !important;
    }
}
div#nav-wrap {
    /* position: fixed; */
    /* top: 32px; */
    z-index: 100000;
    width: 100%;
    min-height: 72px;
    border: 0px;
    background-color: #424242;
    transition: all .5s;
}
.page-id-4 div#nav-wrap {
    position: fixed;
    /* top: 32px; */
    z-index: 100000;
    width: 100%;
    min-height: 72px;
    border: 0px;
    background-color: transparent;
    transition: all .5s;
}
.page-id-4 .sticky-header div#nav-wrap {
    background-color: white;
}
#mega-menu-wrap-primary #mega-menu-primary {
    padding: 30px 0px 0px 0px !important;
}

#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link{
    font-size: 13px !important;
    letter-spacing: 2px;
    text-transform: uppercase !important;
}
.site-content {
    margin-top: 0px !important;
}
.site-header .branding {
    padding: 10px 29px 0px !important;
}
.main-navigation a {
    color: #dcdcdc !important;
    font-size: 15px !important;
}
.main-navigation a:hover{
    color: white !important;
}
.sticky-header .main-navigation a {
    color: black !important;
    text-transform: capitalize !important;
    font-size: 15px !important;
}
.sticky-header .main-navigation a:hover{
    color: black !important;
}
.site-branding.six.columns img {
    max-width: 38%;
}
div#primary {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}
a.work-box > p {
    display: none;
}
a.work-box > img {
    margin: 0px;
}
.col-lg-3.col-md-4.col-sm-4.col-xs-6.work > p {
    display: none;
}
#site-navigation > button{
    display:none;
}
.sticky-header #mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-block-1:before {
    content: '\f333';
    font-family: 'dashicons';
    font-size: 24px;
    margin: 0 0 0 5px;
    color: black;
}
.sticky-header #mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-block-1:after {
    content: 'MENU';
    color: black;
    float: left;
}
@media only screen and (max-width: 500px){
    .site-branding.six.columns img {
        max-width: 78%;
    }
}
@media only screen and (min-width: 992px){

    ul#mega-menu-primary > li:last-child a {
        background-color: #f15722 !important;
        margin-left: 40px !important;
    }
    .sticky-header ul#mega-menu-primary > li:last-child a {
        color:white !important;
    }
    #mega-menu-wrap-primary #mega-menu-primary{
        text-align: right !important;
    }
    .number_under_menu {
        text-align: right;
        letter-spacing: 2px;
        padding: 7px 7px 0px;
        color: white;
    }
    .number_under_menu p {
        color: white;
    }
    .sticky-header .number_under_menu p {
        color: black;
    }
}
@media only screen and (max-width: 992px){
    .sticky-header #mega-menu-wrap-primary #mega-menu-primary {
        background: transparent;
    }

    div#nav-wrap > .container > div, div#nav-wrap > .container > nav {
        max-width: 48%;
    }
    .number_under_menu {
        display: none;
    }
}
.sticky-header #nav-wrap {
    box-shadow: 1px 1px 6px 0px #e0e0e0;
}
main#main {
    margin-top: -20px;
}
.sticky-header div#nav-wrap > .container {
    height: 58px;
    transition: all .4s;
}
div#nav-wrap > .container {
    transition: all .4s;
}
.sticky-header .branding .site-branding .site-title, .sticky-header .branding .site-branding .site-title img {
    margin: 0px;
}
.sticky-header .site-branding.six.columns {
    height: 100%;
}
.sticky-header #mega-menu-wrap-primary #mega-menu-primary {
    padding: 10px 0px 0px 0px !important;
    transition: all .5s;
}
div#mega-toggle-block-1 {
    margin-top: 19px;
}
.sticky-header div#mega-toggle-block-1 {
    margin-top: 6px;
}
.sticky-header div#nav-wrap > .container {
    height: 40px;
}
#mega-menu-wrap-primary .mega-menu-toggle.mega-menu-open + #mega-menu-primary {
    display: block;
    margin-top: 15px;
}
.hentry {
    margin: 0px !important;
    padding-bottom: 0px;
}
.site-content {
    margin-bottom: 0px !important;
}
ul.flex-direction-nav {
    display: none;
}
div#pricing-canvas {
    max-height: 300px;
    overflow: hidden;
    background-color: #4892ff;
}
.col-xs-2.plan_heading h4 {
    letter-spacing: 0px;
	font-weight : 200;
}
table.brands_plateform tr > td {
    padding: 0px;
    border-bottom: 0px;
}
@media screen and (min-width:992px){
#better1{
   display:none;
}
}
@media screen and (max-width:992px){
.brands_plateform{
   display:none;
}
}
.dropzone div.ng-scope {
    /* display: block; */
    /* padding: 0px; */
    margin-top: 10px;
}
.privacy-policy.container{
    max-width: 1170px !important;
    margin-top: 100px;
}
.slick-slide img{
    cursor: pointer;
}

.gototop {
    position: fixed;
    background-color: #4892ff;
    border: 1px solid white;
    right: 30px;
    bottom: 30px;
    z-index: 100;
    padding: 8px 6px;
    border-radius: 50%;
    height: 42px;
    width: 42px;
}
.gototop span {
    font-size: 27px;
    color: white !important;
}
#myBtn button {
    background: transparent;
    padding: 0px 1px;
}

/*radius page starts*/
.container_radius .row{
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
    .container_radius {
        text-align: center;
        padding: 0px;
        border: 1px solid #f1f1f1;
    }
    .form_and_brand {
        padding-top: 85px;
    }
    .form_and_brand {
        /* border: 1px solid black; */
        background-color: #4892ff;
        color: white;
        padding: 10px 100px 0px;
    }
    .form_and_brand .heading_radius {
        font-size: 33px;
        padding: 18px 5px;
    }
    .form_and_brand .subheading_radius{
        font-size: 18px;
        padding: 3px;
    }
    .radius_logo_brands{
        padding: 20px;
        margin-top: 40px;
    }
    .logo_brands_brief{
        font-size: 14px;
        text-transform: uppercase;
        padding: 20px;
        font-weight: 700;
    }
    .logo_brands{
        padding: 18px;
    }
    
    .radius_contact_row {
        clear: both;
        margin-top: 50px;
    }
    .logo_brands img{
        max-width: 100%;
    }
    .row.radius_icons {
        border: 1px solid #f1f1f1;
        padding: 50px;
    }
    .icon_block {
        padding: 15px;
        text-align: left;
        min-height: 280px !important;
    }
    .icon_block .icon_heading {
        font-size: 21px;
        padding: 12px;
        color: #4892ff;
        font-weight: 600;
    }
    .icon_block .glyphicon {
        width: 100%;
        font-size: 74px;
        padding: 12px;
        text-align: right;
        font-size: 72px;
        background: -webkit-linear-gradient(#4892ff,#4892ff,#eee);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .icon_block .icon_content {
        color: #666666;
        font-size: 14px;
        padding: 0px 10px;
    }
    .quote_radius .writer{
        font-size: 15px;
        padding: 27px;
    }
    .quote_radius .quote{
        font-size: 18px;
        padding: 15px 0px;
    }
    .quote_radius {
        padding: 100px;
        background-color: #4892ff;
        color: white;
    }
    @media screen and (max-width:1100px){
        .icon_block .icon_heading {
            font-size: 17px;
        }
        .icon_block .icon_content {
            font-size: 12px;
        }
        .icon_block .glyphicon {
            font-size: 50px;
        }
    }
    @media screen and (max-width:992px){
        .form_and_brand {
            padding: 10px 10px 0px;
        }
        .form_and_brand .heading_radius {
            font-size: 24px;
        }
        .form_and_brand .subheading_radius {
            font-size: 14px;
        }
        .radius_logo_brands {
            margin-top: 0px;
        }
        .radius_contact_row {
            margin-top: 0px;
        }
        .icon_block .glyphicon {
            text-align: center;
        }
        .icon_block {
            min-height: 115px !important;
        }
        .quote_radius {
            padding: 20px;
        }
        .quote_radius .quote {
            font-size: 14px;
        }
    }
    @media screen and (min-width:992px){
        
        .radius_contact_row {
            border-top: 1px solid #6ba7ff;
        }
        .radius_contact_form {
            border-right: 1px solid #6ba7ff;
        }
        
        .icon_block {
            min-height: 224px !important;
        }
    }
    @media screen and (max-width:600px){
        .logo_brands_brief {
            font-size: 9px;
            text-transform: uppercase;
            padding: 10px;
            font-weight: 300;
        }
        .form_and_brand .heading_radius {
            font-size: 18px;
        }
        .form_and_brand .subheading_radius {
            font-size: 13px;
            padding: 2px;
        }
        .heading_radius br{
            display: none;
        }
        .row.radius_icons {
            padding: 10px;
        }
    }
    @media screen and (max-width:500px){
        .icon_block .icon_heading{
            font-size:12px;
        }
        .icon_block .icon_content {
            color: #666666;
            font-size: 10px;
        }
        .icon_block {
            min-height: 100px !important;
        }
        .icon_icon{
            padding:0px !important;
        }
        .icon_block .glyphicon {
            font-size: 36px;
        }
    }
/*radius page ends*/



/*Conquer-2018 page starts*/

.woobox-offer {
    margin-top: 90px;
}
/*Conquer-2018 page ends*/
section.section.quote.demo {
    padding: 10px 0px;
}
section.section.quote.demo a {
    margin-top: 0px;
}
section.section.quote.demo.pricing_page {
    padding: 50px 0px;
}
section.section.quote.demo.pricing_page a {
    margin-top: 0px;
}
section#employees {
    padding-bottom: 10px;
}

/*book demo css starts*/
    .container.bookdemo_container {
        border: 1px solid black;
        width: 50% !important;
        margin: 0px 25%;
        position: absolute;
        top:100px;
        background: #1b384d;
        color: white;
        z-index: 1000;
    }
    .row.bookdemo_container_row{
        height: 100%;
        width:100%;
        padding: 20px 20px 50px;
        min-height: 300px;
    }
    .bookdemo_content{
        clear: both;
        text-align: center;
    }
    .bookdemo_tabs_container > div{
        text-align: center;
    }
    .democlass input{
        width: 80%;
        margin: 5px 0px 10px;
        color: #777777 !important;
        padding: 5px 9px !important;
        background-color: white !important;
    }
    .democlass button{
        background: #ff5056;
        box-shadow: 2px 2px 2px 2px #ff2c34;
        border: none;
        padding: 10px 26px;
        border-radius: 7px;
        width: 55%;
        margin-top: 17px;
        font-size: 19px;
    }
    .democlass select{
        color: #777777 !important;
        padding: 8px !important;
        min-width: 60%;
        margin: 5px 10px 18px;
        background-color: white !important;
    }
    .bookdemo_tabs_container{
        padding: 20px 0px 40px;   
    }
    .form_three button.submit_form_three{
        width:83%;
        font-size: 14px;
    }
    .black_bg{
        height: 100%;
        width: 100%;
        position: fixed;
        background: black;
        top: 0;
        opacity: .4;
        z-index: 1000;
    }
    .black_bg.hide{
        display:none !important;
    }
    .bookdemo_container.hide{
        display:none !important;
    }
    .close_button{  
        text-align: right;
        font-size: 20px;
        padding: 10px 20px 0px;
        cursor: pointer;
        
    }   
    .democlass button:hover {
        background-color: #ff2c34 !important;
    }
    @media screen and (max-width: 992px){
        .container.bookdemo_container {
            width: 90% !important;
            margin: 0px 5%;
        }   
    }
/*book demo css ends*/

/*contactus page css starts*/

.form_contact_custom{
    padding:100px 0px;
    max-width:900px;
    margin: auto !important;
}
.form_contact_custom > div{
    padding-top:8px;
    padding-bottom:8px;
}
.form_contact_custom > div > input , .form_contact_custom > div > textarea{
    padding: 2px;
    width: 100%;
    padding-left: 12px;
    border: none;
    font-size: 15px;
}
.label_custom_form{
    text-transform: capitalize;
    padding-left: 0px !important;
    font-size: 14px;
    font-weight: 600;
}
.submit_button_custom_form{

}
.custom_form_container{
    background-color: #dddddd;
}
.label_custom_form sup{
    color:#bd1414;
}
input.submit_button_custom_form {
    background-color: #f15722 !important;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500 !important;
    border-radius: 7px;
    margin-top: 35px;
}
.form_contact_custom .last-child{
    text-align: right;
}
.success_messgae {
    border: 1px solid green;
    text-align: center;
    font-size: 15px;
    padding: 3px !important;
    background-color: #aaccaa;
    text-transform: capitalize;
    font-weight: 600;
}
/*contactus page css ends*/