h5 {
    color: #101440;
}

a {
  color: #F15722;
}

.btn {
	background-color: #F15722;
}

ul li{
  list-style-type: inherit;
}

#teams svg{
  width:100%;
  height:100%;
  visibility:hidden;
}

#teams {
  padding: 0;
}

#oneDesign {
  margin-top: 15rem;
  color: #1a212c;
  text-align: center;
}

#oneDesign h2{
  font-size: 9rem;
  font-weight: 700;
  color: #101440;
}

#oneDesign h3{
  font-size: 7rem;
  color: #101440;
}

#oneDesign hr {
  border-top-color: #F15722;
  width: 25%;
}

#getInTouch .modal-header{
  border-bottom: none;
}

#getInTouch .btn {
  margin-top: 0;
}

#getInTouch .modal-footer{
  border-top: none;
}

.footer-top {
  padding-bottom: 0;
}

.testimonials p, .testimonials h1 {
  color: black;
}

.testimonials h2 {
  margin-top: 80px;
}

.testimonials {
  background-color: white;
}

.flex-control-paging li a {
  background: rgba(0, 0, 128, 0.2);
}

.flex-control-paging li a.flex-active {
  background: #101440;
}

.flex-control-paging li a:hover {
  background: rgba(0, 0, 128, 0.5);
}

.banner-text {
  padding-top: 18%;
}

.banner-text p {
  text-transform: inherit;
}
.banner-text h1 {
  color: #ffffff;
  font-size: 12rem;
  text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.41);
  text-align: center;
}

.banner-text p {
  color: #fff;
  font-weight: 100;
  font-size: 6rem;
}

.banner-text .small-banner-text {
  color: #fff;
	font-weight: 100;
	font-size: 3rem;
  margin-bottom: 3rem;
  letter-spacing: unset;
}

.banner-text .large-banner-text {
	font-weight: 500;
}

.banner-text .fat-text {
	font-weight: 500;
}

.banner-text .small-italic {
/*	font-weight: 500;
*/  font-style: italic;
}

.banner-text .banner-sub-text{
  font-size: 2.5rem;
}

.banner-text h6{
  color: white;
	font-weight: 100;
	font-size: 1.3rem;
}

#header.fixed {
  background-color: #ffffff;
  box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,.1), 0 0.9375rem 1.40625rem rgba(90,97,105,.1), 0 0.25rem 0.53125rem rgba(90,97,105,.12), 0 0.125rem 0.1875rem rgba(90,97,105,.1);
}

#header.fixed .header-content {
  padding: 10px 0;
}

#header .navigation {
  margin-top: .5rem;
}

#logo-text {
  fill: #FFFFFF;
}

#header.fixed #logo-text {
  fill: #000000;
}

.navigation a {
  margin-left: 36px;
}

.quote-header{
  text-align: center;
  background: #f15722;
  padding: 1rem 1.5rem;
}

nav ul {
  margin-top: .7rem;
}

#contact label {
    font-weight: 500;
    color: black;
}

.logo h6{
  margin-top: 0;
  font-size: 1.2rem;
  color: white;
}

.logo h6 span{
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.2rem;
}

#header.fixed .navigation a {
  color: #000000;
}

#header.fixed .navigation a.quote-header {
  color: #ffffff;
}

.intro {
    background-color: #101440;
}

.intro p {
    color: #ffffff;
}

.intro h1 {
	color: #fff;
	font: 3.5rem "Source Sans Pro";
  font-weight: 100;
}

.footer h5 {
  color: #1a77ff;
}

.footer p, footer li {
    color: #797979;
}

.footer .address h6{
  color: #5a5a5a;
}

.footer .footer-col {
    margin-bottom: 40px;
}

.required {
    color: #F15722;
}

#better {
  padding: 10rem;
  color: white;
  position: relative;
  background-color: rgba(0,0,0,0.8);
}

#better::after {
  content: "";
  background: url("../zoomitout/betterThan.jpg");
  background-position: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#better h2{
  color: #dedede;
  font-weight: 700;
}

#better p {
  list-style-type: disc;
	font-size: 1.7rem;
	color: white;
	letter-spacing: .04rem;
}

#better ul li{
  list-style-type: circle;
  font-size: 1.7rem;
  color: white;
  margin-left: 2rem;
}

#arrowDown {
  margin-top: 1rem;
  margin-bottom: 5rem;
}

#services h2 {
  font-size: 3.4rem;
  color: #101440;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

#services .tab-content li {
  font-size: 1.7rem;
  margin-bottom: .5rem;
  color: #f15722;
}

#services h3 {
  font-size: 1rem;
  text-transform: none;
  font-weight: 500;
}

#services .tab-content ul {
  padding: 2rem 0 2rem 4rem;
  list-style-type: none;
  border-left: 1px solid #959492;
}

.nav-tabs .nav-link{
  color: #717171;
  font-weight: 100;
  font-size: 1.1rem;
  transition: all 140ms cubic-bezier(0.09, 0.83, 0.58, 1);
  border-bottom:1px solid #ddd;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #000;
    background-color: #fff;
    border-color: #fff #fff #ffb400;
    font-weight: 400;
    font-size: 1.1rem;
}

.testimonials blockquote {
  padding: 30px 15%;
}

.nav-tabs .nav-link:hover {
  border-color: #fff #fff #ffb400;
}

.nav-tabs {
  border: none;
}

.tab-pane {
  padding: 1rem;
  padding-top: 2rem;
}

.tab-pane p {
  font-size: 2.4rem;
  font-weight: 100;
  color: #42413D;
  padding-top: 2rem;
  line-height: 3rem;
}

#nav-tabs .nav-pills .nav-link {
  font-size: .8rem;
  background-color: #00a4b8;
  color: #dcdcdc;
  border-bottom: 1px solid rgba(102, 179, 212, 0.4);
  border-radius: 0;
}

#nav-tabs .nav-pills .nav-link.active {
  background-color: #ffc107;
  color: #505050;
}

#nav-tabs .nav-link {
  padding: 1.5rem 1rem;
  display: block;
}

#nav-tabs .tab-pane {
  padding-top: 0;
}

#nav-tabs .nav {
}

#nav-tabs {
  margin-bottom: 5rem;
  background-color: #fff;
}

#nav-tabs hr {
  border-top-color: #42413D;
}

.nav-pills>li>a {
	font-size: 1.5rem;
	border-radius: 0;
}

.services .icon {
	color: #101440;
	font-size: 21px;
	padding-right: 1rem;
  padding-left: 0;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	color: #fff;
	background-color: #f15722;
}

.nav-pills>li.active>a .icon, .nav-pills>li.active>a:focus .icon, .nav-pills>li.active>a:hover .icon {
	color: #fff;
}

.nav.nav-pills>li>a:hover {
  color: #F15722;
}

.nav>li>a:hover .icon {
  color: #F15722;
}

.nav.nav-pills>li.active>a {
	color: #ffffff;
}

.nav.nav-pills>li>a {
	padding: 2rem;
  color: #101440;
}

.services {
	margin-bottom: 0;
}

.service-section {
	padding-top: 0;
  padding-bottom: 10rem;
}

.work .overlay {
	background: rgba(241, 87, 34, 0.89);
}

.footer-top {
	background-color: #ccced2;
}

.btn:hover, .btn:focus {
	background-color: #b94118;
}

.banner {
/*  background-color: #0c1782;
  background-image: linear-gradient(180deg, #101440 0%, #121c7d 50%, #101440 100%);
*/	min-height: auto;
	background-position-y: unset;
	background-size: unset;
  background-position: unset;
  background-repeat: unset;
  position: relative;
  overflow: hidden;
/*  z-index: -100;
*/  background-image: unset;
  background-color: black;
}

.banner video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.6;
}

.banner iframe {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
}


.flex-control-nav {
  bottom: 30px;
}

.navigation p {
	color: rgba(255, 255, 255, 0.75);
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 3px;
  text-align: right;
  margin: 0;
  margin-top: 1rem;
}

#header.fixed .navigation p {
  color: #000000;
}

#contact.contactUs {
  padding-top: 200px;
  background-color: #ddd;
}

#getInTouch {
  margin-top: 5rem;
}

#getInTouch .form-control {
  background-color: #42413d;
  border: 1px solid #42413d;
  border-radius: 2px;
  font-size: 1.6rem;
  color: #fff;
}

#getInTouch label {
  	color: #272624;
  font-size: 1.7rem;
}

#getInTouch p {
  text-transform: unset;
  font-size: 1.5rem;
	margin: 2rem auto;
}

#employees h2 {
  font-weight: 700;
  color: #101440;
}

#employees .icon {
  font-size: 6rem;
	color: #f15722;
}

#employees [class*="col-"] {
  margin-top: 3rem;
  margin-bottom: 5rem;
}
/*
#pricingDivs .row [class*="col-"]:nth-child(2n) {
  background-color: #fff;
}

#pricingDivs .row [class*="col-"]:nth-child(3n) {
  background-color: #fff;
}

#pricingDivs .row [class*="col-"]:nth-child(4n) {
  background-color: #fff;
}
*/
#pricingDivs .row [class*="col-"]:nth-child(2n), #ecommerce-pricing .row [class*="col-"]:nth-child(2n) {
  border-left: 1px solid #1a77ff;
}

#pricingDivs .row [class*="col-"]:nth-child(4n), #ecommerce-pricing .row [class*="col-"]:nth-child(4n) {
  border-left: none;
}

#pricingDivs .row [class*="col-"]:nth-child(2n),
#pricingDivs .row [class*="col-"]:nth-child(3n),
#pricingDivs .row [class*="col-"]:nth-child(4n),
#ecommerce-pricing .row [class*="col-"]:nth-child(2n),
#ecommerce-pricing .row [class*="col-"]:nth-child(3n),
#ecommerce-pricing .row [class*="col-"]:nth-child(4n) {
  text-align: center;
  border-right: 1px solid #1a77ff;
}


#pricingDivs {
  line-height: 3rem;
  padding-top: 0;
}

#ecommerce-pricing{
  line-height: 3rem;
  padding-top: 50px 0;
}

#pricingDivs .row [class*="col-"].plan_heading, #ecommerce-pricing .row [class*="col-"].plan_heading{
  background-color: #1a77ff;
  border-right: 1px solid #1b5ebf;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top-left-radius: 2rem;
}

/*
#pricingDivs .row [class*="col-"].plan_heading:last-child, #ecommerce-pricing .row [class*="col-"].plan_heading:last-child{
  border-right: 1px solid #101440;
}
*/

#pricingDivs .plan_footer, #ecommerce-pricing .plan_footer{
  border-bottom: 1px solid #1a77ff;
}

#pricingDivs h3, #ecommerce-pricing h3{
	margin: .5rem;
}

#pricingDivs .plan_heading h3,
#pricingDivs .plan_heading h4,
#pricingDivs .plan_heading h6,
#ecommerce-pricing .plan_heading h3,
#ecommerce-pricing .plan_heading h4,
#ecommerce-pricing .plan_heading h6
{
  color: #b6d3ff;
}

#pricingDivs h4, #ecommerce-pricing h4 {
  margin: 0;
  line-height: 3rem;
  color: #f15722;
}

#pricingDivs p, #ecommerce-pricing p {
  margin: 0;
  font-weight: 400;
	text-transform: capitalize;
  line-height: 3rem;
  color: #717171;
}

#normal-pricing-header h3{
  color: #333;
  margin: 5rem auto;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: .1rem;
  text-transform: uppercase;
}

.glyphicon {
  color: #f15722;
}

#pricingDivs .glyphicon, #ecommerce-pricing .glyphicon {
  color: #1a77ff;
}


#pricing-header {
  padding-top: 2.4rem;
}

#pricing-header h2 {
  margin: 10rem auto 15rem auto;
  font-weight: 100;
}

#pricing-header .header-section {
  background-color: #ffffff;
  height: 30vh;
  border-radius: .3rem;
  position: relative;
  padding: 1rem 0;
  box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,.1), 0 0.9375rem 1.40625rem rgba(90,97,105,.1), 0 0.25rem 0.53125rem rgba(90,97,105,.12), 0 0.125rem 0.1875rem rgba(90,97,105,.1);
  border: 1px solid #eaeaea;
}

#pricing-header .header-section p{
  font-size: 1.6rem;
  color: #636363;
}

#pricing-header .header-section h3{
  color: #333;
  font-weight: 400;
	font-size: 2.4rem;
}

#pricing-header .header-section .btn{
  letter-spacing: unset;
	text-transform: initial;
	font-size: 1.5rem;
  background-color: #1a77ff;
	font-weight: 100;
  margin-top: 1rem;
}

#pricing-image {
  background: url('../zoomitout/flowers.jpg');
	background-size: cover;
	background-position: bottom;
	margin-top: 100px;
  height: 50vh;
  text-align: center;
}

#pricing-image h2{
  padding-top: 2rem;
}

#logo-scroller{
  position: relative;
  overflow: hidden;
  height: 100px;
  transform: translate3d(0, 0, 0);
  margin-bottom: 5rem;
}

#logo-scroller .images{
  background: url(../images/logos.png);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 9000px;
  transform: translate3d(0, 0, 0);
  animation: slideshow 45s linear infinite;
}

@keyframes slideshow {
  100% {
    transform: translateX(-66.6666%);
  }
/*
  0%    { left: 0; }
  100%  { left: -200%; }
*/
}

#pricing-canvas{
  margin-top: 8.5rem;
}

#pricing-canvas h2{
  position: absolute;
  top: 33%;
  left: 24%;
  font-weight: 100;
  font-size: 4rem;
  color: white;
}

canvas.index-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.5;
}

@media screen and (max-width: 768px) {

  #header .header-content {
    padding: 1rem 0;
  }

  .nav-toggle {
    top: 1rem;
  }

  #header.fixed .nav-toggle {
    top: 1rem;
  }

  .banner-text h1 {
    font-size: 2rem;
    margin-top: 10rem;
    text-align: center;
    font-weight: 600;
  }



  #changeWord {
    line-height: 16rem;
  }

  #oneDesign h3 {
    font-size: 4rem;
  }

  #oneDesign h2 {
      font-size: 3rem;
      font-weight: 700;
  }

  .intro blockquote {
    padding: 2rem;
  }

  #better {
    background-position: right;
    padding: 5rem 1rem;
  }

  #better h2{
    font-size: 3.5rem;
  }

  #oneDesign {
  	margin-top: 5rem;
  }
  .banner-text{
    padding-top: 34%;
  }

  .banner-text p{
    margin-bottom: 0;
  }

  .banner-text .large-banner-text {
    font-size: 2rem;
  	font-weight: 100;
  }

  .banner-text .small-banner-text {
  	font-size: 1.6rem;
  }

  footer ul {
    padding-left: 20px;
  }

  .navigation a {
  	margin: 0;
  }

  #header.fixed .navigation a {
  	color: #ffffff;
  }

  .navigation p {
  	text-align: center;
    margin-top: 200px;
  }

  #pricing-header h2 {
  	margin: 5rem auto;
  }

  #pricingDivs .row [class*="col-"].plan_heading, #ecommerce-pricing .row [class*="col-"].plan_heading {
    padding: 0;
  }

  #pricingDivs .plan_heading h4, #ecommerce-pricing .plan_heading h4 {
    font-size: 1.4rem;
  }

  #pricingDivs h3, #ecommerce-pricing h3 {
    font-size: 1.2rem;
  }

  #normal-pricing-header h3 {
  	font-size: 4rem;
  }

  #pricingDivs .row [class*="col-"]:nth-child(2n), #pricingDivs .row [class*="col-"]:nth-child(3n), #pricingDivs .row [class*="col-"]:nth-child(4n), #ecommerce-pricing .row [class*="col-"]:nth-child(2n), #ecommerce-pricing .row [class*="col-"]:nth-child(3n), #ecommerce-pricing .row [class*="col-"]:nth-child(4n) {
	   border-right: none;
  }

  #pricingDivs .row [class*="col-"]:nth-child(2n), #ecommerce-pricing .row [class*="col-"]:nth-child(2n) {
    border-left: none;
  }

/*
  #pricingDivs .row [class*="col-"]:first-child, #ecommerce-pricing .row [class*="col-"]:first-child {
    border-top: 1px solid #aaa;
    margin-top: .5rem;
  }
*/

  #pricingDivs .row [class*="col-"], #ecommerce-pricing .row [class*="col-"] {
    border-top: 1px solid #aaa;
    margin-top: .25rem;
  }

  #pricingDivs .row [class*="col-"].no-border, #ecommerce-pricing .row [class*="col-"].no-border {
    border-top: none;
    margin-top: 1rem;
  }

  #pricingDivs .plan_footer, #ecommerce-pricing .plan_footer {
  	border-bottom: none;
  }

  #pricing-header .header-section {
    margin-top: 2rem;
  }

  #pricing-canvas {
  	margin-top: 8.5rem;
  }

  #pricing-canvas h2 {
  	top: 24%;
    left: 16%;
  }

}
