/*
Theme Name: BeVrtual
Theme URI:
Author: inergystudio.com
Author URI: inergystudio.com
Description: BeVrtual Custom Theme
Version: 1.0
*/
/******
  ALL
******/

body {
/*  font-family: 'source_sans_pro';
*/}

h3 {
  font-weight: 700;
	text-transform: capitalize;
	font-style: italic;
	font-size: 2.4rem;
}

.btn:focus, .btn:hover {
  color: #ffffff;
}

.text-small-caps-w-h-border {
  text-transform: uppercase;
	font-size: .75rem;
	letter-spacing: 3px;
	display: inline-block;
	padding: .5rem 1rem;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ffffff;
}

.text-medium-lowercase-italic {
  font-style: italic;
	font-size: 1.4rem;
	font-weight: 100;
}

.text-gradient-lowercase {
  background-image: -webkit-linear-gradient(to right, #2199d6 21%,#7fc44f 67%);
  background-image: linear-gradient(to right, #2199d6 21%,#7fc44f 67%);
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 4rem;
  font-weight: 700;
}

.bv-cta {
  background-color: #7fc44f;
	border-radius: 15px;
	color: white;
	text-transform: uppercase;
	font-size: .8rem;
	letter-spacing: .7px;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
}

/*********
  NAVBAR
*********/

nav {
  background-color: transparent;
  transition: background 0.2s linear;
}

nav.scrolled {
  /* background-image: linear-gradient(to right, #7fc44f 1%,#2199d6 100%); */
  background-color: #ffffff;
  box-shadow: 0 0.46875rem 2.1875rem rgba(38, 46, 67, 0.1), 0 0.9375rem 1.40625rem rgba(38, 46, 67, 0.1), 0 0.25rem 0.53125rem rgba(38, 46, 67, 0.1), 0 0.125rem 0.1875rem rgba(38, 46, 67, 0.1);
}

nav .bv-cta {
    margin-top: .5rem;
}

nav p{
  color: #ffffff;
  font-weight: 100;
	font-size: .8rem;
	margin-bottom: 0;
  text-align: center;
}

nav.scrolled p{
  color: black;
}

.scrolled.navbar-light .navbar-nav .nav-link{
    color: #000000;
}

.scrolled.navbar-light .navbar-nav .nav-link:focus, .scrolled.navbar-light .navbar-nav .nav-link:hover {
    color: #000000;
}

#menu-primary .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color: #ffffff;
    text-transform: uppercase;
  	font-size: .8rem;
  	letter-spacing: 1.5px;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.nav-item {
  margin-left: 3rem;
}

#logo {
  fill: #ffffff;
  width: 144px;
  height: 47.562px;
}

.scrolled #logo {
  fill: #000000;
}

.scrolled #logo-draw {
  fill: #0e43af;
}

#special-nav {
  list-style-type: none;
}

/*********
  HEADER
*********/

#header {
  overflow: hidden;
}

#header video, #header img {
  position: absolute;
	top: 0;
	left: 0;
	opacity: 0.25;
  height: 119vh;
}

#header-content{
  background-image: -webkit-linear-gradient(to right, #10339e 1%,#2253e5 100%);
  background-image: linear-gradient(to right, #10339e 1%,#2253e5 100%);
  color: #FFFFFF;
	max-width: unset;
  height: 119vh;
}

#header-content .row {
  height: inherit;
}

#header-content .txt {
  display: none;
  visibility: hidden;
  opacity: 0;
}

#header-content .txt.active {
  display: inline;
  visibility: hidden;
  opacity: 0;
}

/*************
  INDUSTRIES
*************/

#industries {
  color: #ffffff;
}

#industries img{
  position: absolute;
  height: 119vh;
}

#industries-row {
  height: 119vh;
}

/****************
  RESPOMINATION
****************/

#responimation .text-medium-lowercase-italic {
  font-weight: unset;
  letter-spacing: 1.5px;
}

#responimation .bolded {
  font-weight: 700;
  text-transform: capitalize;
}

#responimation h3 {
  font-weight: 300;
  font-size: 1.8rem;
  text-transform: unset;
}

#responimation hr {
  display: inline-block;
	padding-right: 2rem;
	padding-left: 2rem;
	border-top-color: #2199d6;
}

#responimation svg {
  width: 600;
  height: 600;
}

/***********
  MONIMATE
***********/

#monimate svg {
  float: right;
}

#monimate li {
  font-size: .95rem;
  font-style: italic;
  text-transform: capitalize;
  margin-bottom: 1rem;
  margin-top: 1rem;
	text-align: left;
}

#monimate .monimate-container svg {
  width: 600;
  height: 600;
}

#monimate ul {
    list-style-image: url("media/tick-inside-circle.svg");
}

/**************
  OUR PROCESS
**************/

#our-process .animation {
  text-align: center;
  margin-bottom: 1em;
}
#our-process .animation path {
  fill: #fff;
  box-shadow: 5px 2px 10px;
}
#our-process .signature {
  position: absolute;
  top: 30%;
  left: 20%;
  width: 65%;
  height: 100%;
}
#our-process .signature path {
  stroke: #fff;
}
#Splash {
  opacity: 0;
}
#our-process .active #Splash {
  -webkit-animation: our-process-fadeIn50 6s 1s ease 1 forwards;
  -o-animation: our-process-fadeIn50 6s 1s ease 1 forwards;
  animation: our-process-fadeIn50 6s 1s ease 1 forwards;
}
#our-process .active #Splash path {
  /* opacity: 0; */
}
#our-process .active #Splash path:nth-child(3n) {
  -webkit-animation: our-process-shimmer 1.3s 0s infinite;
  -o-animation: our-process-shimmer 1.3s 0s infinite;
  animation: our-process-shimmer 1.3s 0s infinite;
}
#our-process .active #Splash path:nth-child(3n - 1) {
  -webkit-animation: our-process-shimmer 1.3s 0.3s infinite;
  -o-animation: our-process-shimmer 1.3s 0.3s infinite;
  animation: our-process-shimmer 1.3s 0.3s infinite;
}
#our-process .active #Splash path:nth-child(3n - 2) {
  -webkit-animation: our-process-shimmer 1.3s 0.7s infinite;
  -o-animation: our-process-shimmer 1.3s 0.7s infinite;
  animation: our-process-shimmer 1.3s 0.7s infinite;
}
#Solid {
  opacity: .25;
}
#our-process .active #Solid {
  -webkit-animation: our-process-fadeIn100 3s ease 1 forwards;
  -o-animation: our-process-fadeIn100 3s ease 1 forwards;
  animation: our-process-fadeIn100 3s ease 1 forwards;
}
#our-process button {
  color: #fff;
  font-size: 12px;
  padding: .5em 1em .6em;
  border-radius: 3px;
  border: none;
  background: rgba(0, 0, 0, 0.1);
}
#our-process button:hover,
#our-process button:focus {
  background: rgba(0, 0, 0, 0.2);
  outline: none;
  cursor: pointer;
}
@-webkit-keyframes our-process-shimmer {
  0% {
    opacity: 0.35;
  }
  25% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.35;
  }
}
@-moz-keyframes our-process-shimmer {
  0% {
    opacity: 0.35;
  }
  25% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.35;
  }
}
/*
@-ms-keyframes our-process-shimmer {
  0% {
    opacity: 0.35;
  }
  25% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.35;
  }
}
*/
@-o-keyframes our-process-shimmer {
  0% {
    opacity: 0.35;
  }
  25% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.35;
  }
}
@keyframes our-process-shimmer {
  0% {
    opacity: 0.35;
  }
  25% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.35;
  }
}
@-webkit-keyframes our-process-fadeIn50 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .5;
  }
}
@-moz-keyframes our-process-fadeIn50 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .5;
  }
}
/*
@-ms-keyframes our-process-fadeIn50 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .5;
  }
}
*/
@-o-keyframes our-process-fadeIn50 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .5;
  }
}
@keyframes our-process-fadeIn50 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .5;
  }
}
@-webkit-keyframes our-process-fadeIn100 {
  0% {
    opacity: .35;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes our-process-fadeIn100 {
  0% {
    opacity: .35;
  }
  100% {
    opacity: 1;
  }
}
/*
@-ms-keyframes our-process-fadeIn100 {
  0% {
    opacity: .35;
  }
  100% {
    opacity: 1;
  }
}
*/
@-o-keyframes our-process-fadeIn100 {
  0% {
    opacity: .35;
  }
  100% {
    opacity: 1;
  }
}
@keyframes our-process-fadeIn100 {
  0% {
    opacity: .35;
  }
  100% {
    opacity: 1;
  }
}

/********
  LOGOS
********/

#logos .text-medium-lowercase-italic{
  margin-bottom: 0;
}

#logos .text-small-caps-w-h-border {
  font-size: .9rem;
  border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
}

/* ------------------------------------------------------------------------------
	 Works
-------------------------------------------------------------------------------*/
.work {
	-moz-box-shadow: 0 0 0 1px #fff;
	-webkit-box-shadow: 0 0 0 1px #fff;
	box-shadow: 0 0 0 1px #fff;
	overflow: hidden;
	position: relative;
  padding-right: 0;
  padding-left: 0;
}
.work img {
	width: 100%;
}
.work .overlay {
	background: rgba(232, 69, 69, 0.9);
	left: 0;
  height: 100%;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
	-moz-transition: opacity, 0.3s;
	-o-transition: opacity, 0.3s;
	-webkit-transition: opacity, 0.3s;
	transition: opacity, 0.3s;
}
.work .overlay-caption {
	position: absolute;
	text-align: center;
	top: 50%;
	width: 100%;
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.work h5, .work p, .work img {
	-moz-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	-webkit-transition: all, 0.5s;
	transition: all, 0.5s;
}
.work h5, .work p {
	color: #fff;
	margin: 0;
	opacity: 0;
}
.work span {
	font-size: 45px;
}
.work h5 {
	margin-bottom: 5px;
	-moz-transform: translate3d(0, -200%, 0);
	-ms-transform: translate3d(0, -200%, 0);
	-webkit-transform: translate3d(0, -200%, 0);
	transform: translate3d(0, -200%, 0);
}
.work p {
	-moz-transform: translate3d(0, 200%, 0);
	-ms-transform: translate3d(0, 200%, 0);
	-webkit-transform: translate3d(0, 200%, 0);
	transform: translate3d(0, 200%, 0);
}
.work-box:hover img {
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}
.work-box:hover .overlay {
	opacity: 1;
}
.work-box:hover .overlay h5, .work-box:hover .overlay p {
	opacity: 1;
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

/***************
  TESTIMONIALS
***************/

#testimonials h3 {
  margin: 2rem auto;
}

#testimonials p {
  font-size: 1rem;
}

.carousel-indicators {
  bottom: -20px;
}

#testimonials .btn {
  margin-top: 20px;
}

.carousel-indicators li {
  background-color: #8BC34A;
  border-radius: 100%;
  width: .65rem;
  height: .65rem;
}

.carousel-indicators li:hover {
  cursor: pointer;
}

.carousel-indicators .active {
  background-color: #252525;
}

/*********
  FOOTER
*********/

#footer {
  color: #797979;
  background-color: #252525;
}

#footer h5{
  color: #7fc44f;
	text-transform: uppercase;
	font-size: .9rem;
	font-weight: 700;
  margin: 1rem auto;
}

#footer h6 {
  color: #68a040;
}

#footer p {
  font-size: .95rem;
  margin-bottom: .35rem;
  color: #9c9c9c;
  letter-spacing: .25px;
}

#footer hr {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
	border-bottom: 1px solid rgba(255, 255, 255, 0.03);
}

#footer .list-inline-item {
  text-transform: uppercase;
	letter-spacing: 1px;
	border-right: 1px solid #383838;
	padding-right: .8rem;
}

#footer .list-inline-item:last-child {
	border-right: 0;
	padding-right: 0;
}

#footer .icon {
  color: #7fc44f;
  margin-right: .5rem;
}

#footer .vr {
  border-right: 1px solid rgba(255, 255, 255, 0.03);
}

/*book demo css starts*/
    .container.bookdemo_container {
      	position: absolute;
      	background: #23282d;
      	color: white;
      	z-index: 1000;
        background-image: linear-gradient(to right, #10339e 0%,#2253e5 100%);
        left: 20%;
        width: 60%;
    }
    .row.bookdemo_container_row{
        height: 100%;
        padding: 20px 20px 50px;
        min-height: 300px;
    }
    .bookdemo_content{
        clear: both;
        text-align: center;
    }
    .bookdemo_tabs_container > div{
        text-align: center;
    }
    .democlass input{
        width: 60%;
      	color: #777777 !important;
      	background-color: white !important;
      	box-shadow: inset -1px -1px 20px 5px #00000014, 2px 2px 2px #00000040;
      	border: 1px solid #d4d4d4;
        font-size: .9em;
      	padding: .75rem 1rem;
	      margin: .5rem 0 1rem 0;
    }

    .bookdemo_tabs_container > div:hover {
      cursor: pointer;
    }

    .democlass button{
        background: #7fc44f;
        border: none;
        padding: 10px 26px;
        border-radius: 25px;
        width: 60%;
        margin-top: 17px;
        color: white;
        text-transform: uppercase;
        font-weight: 500;
        transition: all 250ms ease-in-out;
    }
    .democlass select{
        color: #777777 !important;
        background-color: white !important;
      	font-size: .9em;
      	padding: .75rem 1rem;
      	margin: .5rem 0 1rem 0;
        width: 60%;
    }

    #bookdemoform textarea {
        width: 60%;
    }

    #bookdemoform label {
      margin: 0;
    }

    #first-tab-bottom {
      margin-top: 2rem;
    }

    #first-tab-bottom h4{
      margin-bottom: 3rem;
    }

    #first-tab-bottom .points img{
      width: 20%;
    }

    .option_three_content #first-tab-bottom .points img{
      width: 70%;
    }

    .option_three_content input, #bookdemoform .option_three_content textarea, .option_three_content button {
      width: 71%;
    }

    .option_three_content .special-form input {
      width: 70%;
    }

    .option_three_content .special-form label {
      display: block;
    }

    #first-tab-bottom .points p{
      color: #7295FF;
      font-weight: 500;
      margin-bottom: 0;
    }

    #first-tab-bottom .end p{
      font-weight: 500;
      font-style: italic;
      letter-spacing: .7px;
      margin-top: 1rem;
    }

    .options_tab p{
      display: inline-block;
      margin-bottom: 0;
      font-weight: 600;
      border-radius: 50%;
      padding: .5rem 1.1rem;
      border: 1px solid #7fc44f;
    }

    .options_tab.filled p{
      background-color: #7fc44f;
    }

    .bookdemo_tabs_container{
        padding: 20px 0px 40px;
    }
    .form_three button.submit_form_three{
    }
    .black_bg{
        height: 100%;
        width: 100%;
        position: fixed;
        background: black;
        top: 0;
        opacity: .9;
        z-index: 1000;
    }
    .black_bg.hide{
        display:none !important;
    }
    .bookdemo_container.hide{
        display:none !important;
    }
    .close_button{
      text-align: right;
    	font-size: 20px;
    	padding: 1rem;
    	cursor: pointer;
    	float: right;
    	display: inline-block;
    }
    .democlass button:hover {
        background-color: #8dd859;
        cursor: pointer;
    }

    @media screen and (max-width: 992px){
        .container.bookdemo_container {
            width: 90% !important;
            margin: 0 5%;
        }
    }
/*book demo css ends*/



@media screen and (max-width: 768px) {

  /******
    ALL
  ******/

  h1 {
    font-size: 1.4rem;
  }

  .text-small-caps-w-h-border {
    margin-bottom: 0;
    padding: .1rem 1rem;
    padding-top: .05rem;
  }

	#logos .text-small-caps-w-h-border {
		margin-bottom: .5rem;
	}

	.text-medium-lowercase-italic {
    line-height: 1;
    margin-bottom: .5rem;
    font-size: 1rem;
  }

  /*********
    NAVBAR
  *********/
  nav.navbar {
    background-color: #ffffff;
    box-shadow: 0 0.46875rem 2.1875rem rgba(38, 46, 67, 0.1), 0 0.9375rem 1.40625rem rgba(38, 46, 67, 0.1), 0 0.25rem 0.53125rem rgba(38, 46, 67, 0.1), 0 0.125rem 0.1875rem rgba(38, 46, 67, 0.1);
    padding-top: 0;
    padding-bottom: 0;
    color: #000000;
  }

  .navbar-light .navbar-nav .nav-link{
      color: #000000;
  }

  .navbar-toggler {
    margin-right: 1rem;
    border: unset;
  }

  .navbar-toggler:hover {
    cursor: pointer;
  }

  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

  nav p {
  	color: #000000;
  }

  ul.navbar-nav {
    margin-bottom: 1rem;
  }

  #logo {
    fill: #000000;
    width: 108px;
    height: 35.6715px;
  }

  /*********
    HEADER
  *********/

  #header .bv-cta {
    margin-bottom: 1rem;
  }

  #header video, #header img, #header-content {
  	height: 32vh;
    width: 100%;
  }

  /****************
    RESPOMINATION
  ****************/

  #responimation .text-gradient-lowercase {
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 0;
  }

  #responimation hr {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }

  #responimation svg {
    width: 300;
    height: 300;
  }

  /****************
    MONIMATE
  ****************/

  #monimate .monimate-container svg {
    width: 325;
    height: 325;
  }

  #monimate .bv-cta {
    margin-bottom: 5rem;
  }

  /*************
    INDUSTRIES
  *************/

  #industries img, #industries-row {
    height: 32vh;
    width: 100%;
  }

	/****************
	 *	BOOK DEMO	*
	****************/
  .container.bookdemo_container {
    width: 100%;
    left: 0%;
  }
	
	.options_tab p {
		font-weight: 100;
	font-size: .8rem;
	padding: .25rem .75rem;
	}
	
	#bookdemoform label {
	margin: 0;
	font-size: .8rem;
	font-weight: 100;
	}
	
	.democlass select, .democlass input, .democlass button {
		padding: .25rem;
		width: 90%;
	}
	
	#first-tab-bottom .points img {
	width: 70%;
	}
	
	#first-tab-bottom .points p {
		font-weight: 100;
		font-size: .8rem;
	}
	
	.option_three_content #first-tab-bottom .points img {
		width: 45%;
	}
	
	.points {
		margin-bottom: 1rem;
	}
}
/*contact form css starts*/
.contact_form_popup{
    text-align: center;
    color: #757575;
}
.custom_form_container input, .custom_form_container select {
    height: 35px;
}
.custom_form_container textarea {
    height: 84px;
}
.submit_form_button_container{
    text-align: center;
}
.custom_form_container{
    position: absolute;
    z-index: 1001;
    background-color: #dddddd;
    display: none;
    width: 60%;
    left: 20%;
    top: 160px;
    padding: 38px;
}
.form_contact_custom{
    padding:50px 0px;
    max-width:900px;
    margin: auto !important;
}
.form_contact_custom > div{
    padding-top:8px;
    padding-bottom:8px;
}
.form_contact_custom > div > input , .form_contact_custom > div > textarea{
    padding: 2px;
    width: 100%;
    padding-left: 12px;
    border: none;
    font-size: 15px;
}
.label_custom_form{
    text-transform: capitalize;
    padding-left: 0px !important;
    font-size: 14px;
    font-weight: 600;
}
.submit_button_custom_form{

}
.label_custom_form sup{
    color:#bd1414;
}
input.submit_button_custom_form {
    background-color: #7fc44f !important;
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 500 !important;
    border-radius: 25px;
    padding: 9px 33px;
    height: auto !important;
    color: white;
    box-shadow: none !important;
    border: none;
    margin: auto;
    width: 50%;
    max-width: 300px;
    margin-top: 35px;
}
.form_contact_custom .last-child{
    text-align: right;
}
.success_messgae {
    border: 1px solid green;
    text-align: center;
    font-size: 15px;
    padding: 3px !important;
    background-color: #aaccaa;
    text-transform: capitalize;
    font-weight: 600;
}

/*contact form css ends*/